@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

.left {
  width: 70%;
  float: left;
}

.right {
  width: 30%;
  float: right;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* (첫번째 세로칸) (두번째 세로칸) (세번째 세로칸) (네번째 세로칸) */
  grid-template-rows: 422px 422px 422px;
  /* (첫번째 가로칸) (두번째 가로칸) (세번째 가로칸) */
  grid-gap: 0px;
  /* 격자들간의 간격을 띄울 때, 사용한다. */
}

h1 {
  font-family: KBO-Dia-Gothic_bold;
  color: white;
}
