@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

p {
  /* display: inline-block; */
  margin-block-start: 0px;
  margin-block-end: 0px;
}

a {
  color: white;
}

.year {
  display: inline-block;
  color: white;
}

.genre {
  font-family: NanumSquareNeo-Variable;
  display: inline-block;
  background-color: orange;
  border-radius: 10px;
  padding: 5px;
  font-size: small;
  position: relative;
  top: -340px;
  left: 5px;
}

.rate {
  font-family: NanumSquareNeo-Variable;
  display: inline-block;
  background-color: black;
  padding: 5px;
  font-size: small;
  position: relative;
  top: -73px;
  left: 146px;
  color: white;
  width: 39px;
}

.container {
  width: 230px;
  margin: 0 auto;
}

figure {
  width: 230px;
  height: 345px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
