@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

.left {
  width: 70%;
  float: left;
}

.right {
  width: 30%;
  float: right;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 422px 422px 422px;
  grid-gap: 0px;
}

h1 {
  font-family: KBO-Dia-Gothic_bold;
  color: white;
}

.youtube {
  position: relative;
  padding-left: 11%;
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 30px 5%;
  background-color: black;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.newMovies {
  margin-left: 83px;
}
