.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 422px 422px 422px;
  grid-gap: 0px;
}

.container {
  margin: 0 auto;
  padding: 30px 5%;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.christmasContainer {
  margin: 0 auto;
  padding: 30px 5%;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.christmasContainer::after {
  background-image: url("../../img/default_back.jpeg");
  content: "";
  opacity: 0.7;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-size: full;
}
